<div class="admin-info">
  <div class="admin-info__pic">
    <img src="{{ data.user_profile }}" alt="{{ data.user_name }}">
  </div>
  <div class="admin-info__name">{{ data.user_name }}</div>
  <div class="admin-info__nav">{{ data.menu }}</div>
</div>
