<div class="row">
  <div class="col-md-6">
    <img class="card-img-top" src="https://place-hold.it/500x300" alt="Card image cap">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <p class="card-text">{{ data.text }}</p>
        <button type="button" class="btn btn-primary">{{ data.buttons.button1 }}</button>
        <button type="button" class="btn btn-primary">{{ data.buttons.button2 }}</button>
      </div>
    </div>
  </div>
</div>

